{
    "apps":{
        "gamedirectory1":{
            "app":"game.exe",
            "main":["sample.ttf", "Run",32, 23, 323, "666666", "000000"],
            "sub":["sample.ttf", "Some app!",12, 27, 369, "666666", "000000"],
            "order": 2
        }
    },
    "videos":{
        "videodirectory1":{
            "main":["sample.ttf", "Show", 30, 23, 225, "666666", "000000"],
            "sub":["sample.ttf", "Some video!", 13 , 25, 263, "666666", "000000"],
            "order": 1
        }    }
}
